.SzamlaCim{
    font-family: "Berlin Sans FB";
    font-size: 60px;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    color: black;
}

.SzamlaTablazat{
    width:97%;
    font-size: 20px;
    border-top: 3px solid #e9ba23;
    border-right: 3px solid #e9ba23;
    border-left: 3px solid #e9ba23;
    margin-left: 20px;

}
.SzamlaListazas{
    border-top: 3px solid #e9ba23;
    border-right: 3px solid #e9ba23;
    border-left: 3px solid #e9ba23;
    margin-right: 20px;
}
.InvoiceBtn{
    width:100%;
    background-color: darkgreen;
}
.InvoiceBtn:hover{
    background-color: coral;
}