@import "../node_modules/bootstrap/scss/bootstrap";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monsterrat', sans-serif;
}
body{
background-color: bisque;

}
a {
  color:bisque;
  text-decoration: none;
  background-color: transparent;
}
